@page 
@model RazorPagesRecipes.Pages.Recipes.RecipesModel
@{
    ViewData["Title"] = "Recipes";
    int i = 0;
    var recipe = new RazorPagesRecipes.Models.Recipe();
}

<div class="c-recipe-page">
    <div class="row">
        <h1 class="col-9 c-font c-recipe-header c-font-color pt-5 ms-5">
            Our Recipes
        </h1>
        <div class="col pt-5">
            <button class="btn c-add--recipe-button c-font-color" data-bs-toggle="modal" data-bs-target="#addModalRecipe">
                Add new
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="c-cards-container">
        @for (i = 0; i < Model.Recipes.Count; i++)
        {
            recipe = Model.Recipes[i];
            <div class="card c-card-div">
                <div class="c-circle-img-div">
                    <img src="@recipe.Imagepath" class="card-img-top c-card-img" alt="..." width="100" height="100">
                </div>
                <div class="card-body">
                    <h5 class="card-title c-font-color">@recipe.Title</h5>
                    <div class="c-categories-container-recipe my-4">
                        @foreach (var categoryrec in @recipe.Categories)
                        {
                            <button class="c-category-btn mx-1" disabled>@categoryrec</button>
                        }
                    </div>
                    <a class="c-details-btn btn " asp-page="RecipeDetails" asp-route-ID="@recipe.Id">DETAILS</a>
                    <div class="mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square me-2" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#editModal@(i)" style="cursor:pointer">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#deleteModal@(i)" style="cursor:pointer">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                    </div>
                </div>
                <!-- Edit Modal -->
                <div class="modal fade" id="editModal@(i)" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                        <div class="modal-content c-edit-modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Edit <b class="c-font-color">@recipe.Title</b> recipe</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body c-edit-modal-body">
                                <form asp-page-handler="update" method="post" enctype="multipart/form-data" class="c-form" id="edit-form">

                                    <div class="form-group">
                                        <input type="hidden" asp-for="@Model.ChangebleId" value="@recipe.Id">
                                        <input type="hidden" asp-for="@Model.ChangebleImagePath" value="@recipe.Imagepath">
                                        <label class="c-edit-recipe-label mb-2">Recipe Title</label>
                                        <input type="text" id="RecipeTitle" class="form-control" value="@recipe.Title" name="title" required />
                                        <label class="c-edit-recipe-label mb-2 mt-2">Ingredients</label>
                                        <textarea class="form-control" type="text" id="RecipeIngredients"
                                              name="ingredients" rows="5" required>@string.Join($"\n",recipe.Ingredients.ToArray()) </textarea>
                                        <label class="c-edit-recipe-label mb-2 mt-2">Instructions</label>
                                        <textarea class="form-control" type="text" id="RecipeInstructions" name="instructions" rows="5" required>@string.Join($"\n",recipe.Instructions.ToArray())</textarea>
                                        <div class="m-3"></div>
                                        <label class="c-edit-recipe-label mt-2" asp-for="@Model.RecipeImage">Recipe Image</label>
                                        <input class="form-control" asp-for="@Model.RecipeImage" type="file" required />
                                        <div class="m-3"></div>
                                        <div class="flex-column justify-content-start form-group">
                                            @for (int j = 0; j < @Model.Categories.Count; j++)
                                            {
                                                var index = j;
                                                var category = @Model.Categories[index];
                                                <div>
                                                    <input asp-for="@Model.IsCheckedCategory[index]" class="form-check-input c-form-check-input" type="checkbox" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        @category
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="modal-footer c-modal-footer c-modal-footer--sticky">
                                        <button type="button" class="btn c-cancel-button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                        <button type="submit" class="btn c-confirm-button">Confirm</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal@(i)" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content c-delete-modal-content">
                            <div class="modal-header c-delete-modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form asp-page-handler="delete" method="post">
                                <div class="modal-body row justify-content-center pt-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="65" height="70" fill="#e62222" class="bi bi-trash3-fill c-delete-trash" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                    <h2 class="ps-5 c-delete-modal-title-recipe ">Delete?</h2>
                                    <p class="c-delete-confirmation-text-recipe">
                                        Are you sure you want to delete <b>@recipe.Title</b> recipe?
                                    </p>
                                </div>
                                <input type="hidden" asp-for="@Model.ChangebleId" value="@recipe.Id">
                                <input type="hidden" asp-for="@Model.ChangebleImagePath" value="@recipe.Imagepath">
                                <div class="modal-footer c-modal-footer container row justify-content-center">
                                    <button type="button" class="btn c-cancel-button c-cancel-delete col-3 me-3 " data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                    <button type="submit" class="btn c-delete-button col-3 ms-3">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModalRecipe" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New Recipe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body c-edit-modal-body">
                <form asp-page-handler="add" method="post" enctype="multipart/form-data" class="c-form">

                    <div class="form-group">
                        <label class="mb-2">Recipe Title</label>
                        <input type="text" id="RecipeTitle" class="form-control" name="title" required />
                        <label class="mb-2">Ingredients</label>
                        <textarea class="form-control" type="text" id="RecipeIngredients" name="ingredients" required> </textarea>
                        <label class="mb-2">Instructions</label>
                        <textarea class="form-control" type="text" id="RecipeInstructions" name="instructions" required></textarea>
                        <div class="m-4"></div>
                        <label class="mb-2" asp-for="@Model.RecipeImage">Recipe Image</label>
                        <input class="form-control" asp-for="@Model.RecipeImage" type="file" required />
                        <div class="m-4"></div>
                        @for (int j = 0; j < @Model.Categories.Count; j++)
                        {
                            var index = j;
                            var category = @Model.Categories[index];
                            <div class="form-group">
                                <input asp-for="@Model.IsCheckedCategory[index]" class="form-check-input c-form-check-input" type="checkbox" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    @category
                                </label>
                            </div>
                        }
                    </div>

                    <div class="modal-footer c-modal-footer">
                        <button type="button" class="btn c-cancel-button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="submit" class="btn c-confirm-button">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    if (`@TempData["confirmation"]` == "succeed") {
        Swal.fire({
            icon: 'success',
            title: `@TempData["details"]`,
            showConfirmButton: false,
            timer: 3000
        })
    }
    else if(`@TempData["confirmation"]` == "failed") {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: `@TempData["details"]`,
        })
    }
</script>

